body{
	background: #DDD;
}

.headerStyle {
	width :80%;
    height:50px;
    border :1px solid #900;
    border-radius :15px;
    margin : 0 auto;
    color :black;
 }
 .headerStyle p {
 	text-align  :left;
    margin-top : 5px;
    margin-left :5px;
    font-size :35px;
    display : inline-block;
 }
.headerStyle button {
	font-size : 15px;
    float : right;
    margin : 3px 10px auto;
    padding : 10px;

}
.catButton {
	float :left;
    font-size : 15px;
    margin : 3px auto;
    padding : 10px;
    border-radius : 15px;
}
#body-item{
	width : 80%;
    height :auto;
    margin : -26px auto;
    color : gray;
    border : 1px solid #900;
    border-radius : 15px;
}
#winCategorie , #winDelCat{
	width : 350px;
	height :200px;
	background :orange;
    position :fixed;
	top :70px;
	left :40%;
	border-radius :5px;
}
#winCategorie p {
	font-size :30px;
	color :white;
	text-align :center;
}
/*.catShape{
	float :left;
    font-size :15px;
  	margin :3px auto;
  	padding :10px;
    border-radius :5px;
}*/

#editDiv {
    width :400px;
    height :300px;
    background: orange;
    position :fixed;
    top : 70px;
    left :30%;
    border-radius : 15px;
}

#inputDiv p, #editDiv p{
    font-size : 30px;
    color : white;
    padding : 10px;
    text-align :center;
}
table {
  width:100%;
}
td {
  padding: 15px;
  text-align: left;
  
}
.cut{

}
.update{

}
.cut :hover , .update :hover{
	color : red;
}

.nav-categories {
    width: 80%;
    height: 50px;
    margin: 20px auto;
}



.project-form {
    position: absolute;
    left: 35%;
    background: yellow;
    padding: 10px 30px 40px 30px;
    border: 1px solid black;
    border-radius: 5px;
    /*margin: 0 auto*/
}

.to-do-form {
    /*display: flex;*/
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    height: 330px;
    background: orange;
    position :fixed;
    top : 70px;
    left :35%;
    border-radius : 15px;
    padding: 0 10px 20px 10px; 
}

.flex {
    display: flex;
    justify-content: space-between;
}

input {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid grey;
    margin: 10px;
}

form button {
    font-size: 14px;
    padding: 5px 10px;
    background: blue;
    border-radius: 5px;
    border: black;
    color: white;
    cursor: pointer;
}

form button:hover {
    background-color: #0808b3;
}

.hidden {
    display: none;
}

.float-right {
    float: right;
}

.options {
    margin: 0 10px;
}